<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="../Resource/create.js"></script>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <title>Update</title>
</head>
<body>
     <div class="container">

                <h3>Create</h3>
                    <div class="mb-3">
                        <label for="product_name" class="form-label">Name</label>
                        <input value="" type="text" class="form-control" id="name" name="name">
                    </div>

                    <div class="mb-3">
                        <label for="product_price" class="form-label">Brand</label>
                        <input value="" type="text" class="form-control" id="brand" name="brand">
                    </div>

                    <div class="mb-3">
                        <label for="product_color" class="form-label">Price</label>
                        <input value="" type="number" class="form-control" id="price" name="price">
                    </div>

                    <div class="mb-3">
                        <label for="product_color" class="form-label">Amount</label>
                        <input value="" type="text" class="form-control" id="amount" name="amount">
                    </div>

                    <div class="mb-3">
                        <label for="product_des" class="form-label">Description</label>
                        <textarea value="" class="form-control" id="desc" rows="3" name="desc"></textarea>
                    </div>

                    <button onclick="create()" type="submit" class="btn btn-primary" style="width: 100%">Submit</button>
            </div>
        </div>
</body>
</html>