<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="../Resource/index.js"></script>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
<div class="container">
      <table class="table table-dark" style="height: auto; width=90%">
      <thead>
        <tr>
          <th scope="col">STT</th>
          <th scope="col">Product Name</th>
          <th scope="col">Brand</th>
          <th scope="col">Price</th>
          <th scope="col">Amount</th>
          <th scope="col">Description</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody id = "tbody-table">
      </tbody>
    </table>
    <button onclick="Create()" type="submit" class="btn btn-primary" style="width: 100%">Create</button>
</div>
</body>
</html>
<script>
  function Create()
  {
    const BASE_URL = 'http://127.0.0.1:3000/';
    window.location.href =  BASE_URL + "create";
  }
</script>